@model List<CourseIndexViewModel>
@{
    ViewBag.Title = "Courses";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr style="font-weight: 600;">
            <td>Course Name</td>
            <td>Number of Hours</td>
            <td>Number of Enrollments</td>
        </tr>
    </thead>
    <tbody>
        @foreach (CourseIndexViewModel course in Model)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.NumberOfHours</td>
                <td>@course.NumberOfEnrollments</td>
                <td>
                    @Html.ActionLink("Details", "CourseDetails", new { Id = course.Id }, new { @class = "btn btn-success" })
                </td>
            </tr>
        }
    </tbody>
</table>
